{% extends 'base.html'%}
{% block title %}
    详情页面
{% endblock %}

{% block header %}
    <div class="text-center">
    <h3>
        详情页面
    </h3>
    </div>
{% endblock %}
{% block middle %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"> 问题详情--{{ poll.questions }}</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <td class="col-sm-3">{{ poll.option_one }}</td>
                    <td class="col-sm-9">{{ poll.poll_one }}  票</td>
                </tr>
                <tr>
                    <td>{{ poll.option_two }}</td>
                    <td >{{ poll.poll_two }}  票</td>
                </tr>

            </table>
            <div class="text-center">
                <a href="{% url 'poll:index' %}" class="btn btn-primary"> 返回首页</a>

            </div>

        </div>
    </div>
{% endblock %}